/* ========== Header Container ========== */
.loisnyks-header {
  background-color: #c54b8c; /* Mulberry Pink */
  color: white;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 1000;
}

/* ========== Left Section ========== */
.loisnyks-header-left-section {
  width: 180px;
}

@media (max-width: 800px) {
  .loisnyks-header-left-section {
    width: unset;
  }
}

.header-link {
  display: inline-block;
  padding: 6px;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  color: #f5e6e8; /* Beige */
  border: 1px solid transparent;
}

.header-link:hover {
  border: 1px solid #b03060; /* Raspberry Wine */
}

.loisnyks-logo {
  width: 70px;
  transition: background-color 0.3s ease-in-out;
}

.loisnyks-mobile-logo {
  display: none;
}

@media (max-width: 575px) {
  .loisnyks-logo {
    display: none;
  }

  .loisnyks-mobile-logo {
    display: block;
    height: 35px;
    margin-top: 5px;
  }
}

/* ========== Middle Section ========== */
.loisnyks-header-middle-section {
  flex: 1;
  max-width: 850px;
  margin: 0 10px;
  display: flex;
}

.search-bar {
  flex: 1;
  width: 0;
  font-size: 16px;
  height: 38px;
  padding-left: 15px;
  border: 1px solid #b03060;
  border-radius: 4px 0 0 4px;
  background-color: #f5e6e8;
  color: #c54b8c;
}

.search-button {
  background-color: #b03060;
  border: none;
  width: 45px;
  height: 40px;
  border-radius: 0 4px 4px 0;
  flex-shrink: 0;
  color: white;
}

.search-button:hover {
  background-color: #993366; /* Wild Plum */
}

.search-icon {
  height: 22px;
  margin-left: 2px;
  margin-top: 3px;
}

/* ========== Right Section ========== */
.loisnyks-header-right-section {
  width: 180px;
  flex-shrink: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.orders-link,
.cart-link {
  color: #f5e6e8;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-left: 10px;
}

.returns-text {
  font-size: 13px;
}

.orders-text,
.cart-text {
  font-size: 15px;
  font-weight: 700;
}

.cart-icon {
  width: 50px;
}

.cart-quantity {
  color: #2c2c2c;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  top: 4px;
  left: 22px;
  width: 26px;
  text-align: center;
  background-color: #f5e6e8;
  border-radius: 20px;
}
